---
---
<div class="flex items-center justify-center flex-wrap sm:h-screen lg:h-[632px] sm:min-h-[500px] h-[500px]">
  <div class=" text-center w-1/2 flex flex-col items-center justify-center">
    <h1 class="font-extrabold text-6xl py-4">About me</h1>
    <p class="text-md text-justify p-4 w-[600px]">
      In 2022 I took my first steps into the world of coding, diving headfirst into languages like Typescript and Javascript.
    </p>
    <p class="text-md text-justify p-4 w-[600px]">
      I’m motivated by working collaboratively with teams that share my enthusiasm for coding, value personal development, and aim to harness their expertise to create meaningful chamge through the creation of groundbreaking products and services.
      I’m currently working on new projects that continue to push the boundaries of my skills and knowledge.
    </p>
  </div>
  <div class="items-center w-80">
    <img src="../../assets/me.png" alt="Me" >
  </div>
</div>