---
---
<div class="flex items-center justify-center flex-wrap h-screen">
  <div class=" text-center w-1/2 flex flex-col items-center justify-center">
    <h1 class="font-extrabold text-6xl py-4 self-start ml-12">About me</h1>
    <p class="text-md text-justify p-4 w-11/12">
      I aspire to contribute to cutting-edge projects and be part of a dynamic team that drives positive change. I’m currently working on new projects that continue to push the boundaries of my skills and knowledge.
    </p>
    <div class="h-1/5">
      <h1 class="font-semibold text-xl">My skills are</h1>
      <div class="flex gap-2 my-4">
        <a href="https://www.typescriptlang.org/" target="_blank">
          <img src="../../assets/logos/Typescript.png" alt="Typescript" class="h-16">
        </a>
        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
          <img src="../../assets/logos/js.png" alt="Javascript" class="h-16 rounded-md">
        </a>
        <a href="https://react.dev/" target="_blank">
          <img src="../../assets/logos/React.png" alt="React" class="h-16">
        </a>
        <a href="https://redux.js.org/" target="_blank" >
          <img src="../../assets/logos/Redux.png" alt="Redux" class="h-16">
        </a>
        <a href="https://astro.build/" target="_blank" >
          <img src="../../assets/logos/astro-icon-light-gradient.png" alt="Astro" class="h-16">
        </a>
        <a href="https://www.postgresql.org/" target="_blank" >
          <img src="../../assets/logos/postgre.png" alt="PosgreSQL" class="h-16">
        </a>
        <a href="https://tailwindcss.com/" target="_blank" >
          <img src="../../assets/logos/Tailwind.png" alt="Tailwind" class="h-16">
        </a>
        <a href="https://git-scm.com/" target="_blank" >
          <img src="../../assets/logos/git.png" alt="Git" class="h-16">
        </a>
        <!-- <a href="https://expressjs.com/" target="_blank" >
          <img src="../../assets/logos/expressjs_logo.png" alt="Express" class="h-16">
        </a> -->
      </div>
    </div>
  </div>
  <div class="items-center w-80">
    <img src="../../assets/me.png" alt="Me" >
  </div>
</div>