---


---

<header class="py-7 px-10 flex fixed top-0 w-full justify-between z-40 items-center">
  <div>
    Milagros Fernández Boto
  </div>
  <nav>
  <ul class="flex gap-4">
  <li>Home</li>
  <li>About</li>
  <li>Proyects</li>
  <li>Experience</li>
  </ul>
  </nav>
  <nav>
  <ul class="flex gap-4">
  <li><a href="https://www.linkedin.com/in/milagrosfboto/" target="_blank">LinkedIn</a></li>
  <li><a href="https://github.com/Milifboto" target="_blank">GitHub</a></li>
  <li><a href="mailto:milagrosfernandezboto@gmail.com" target="_blank">Email</a></li>
  <li></li>
  </nav>

</header>