---


---

<header class="py-7 px-10 flex fixed top-0 w-full justify-between z-40 items-center">
  <!-- <div class="hover:text-blue-400 transition-colors duration-500"> -->
    <h1 class="flex gap-1 text-xl font-bold text-gray-900 dark:text-white">
    <span class="text-blue-500"><</span>
    Milagros Fernández Boto
    <span class="text-blue-200">/</span>
    <span class="text-blue-500">></span>
  </h1>
  <nav>
  <ul class="flex gap-4">
  <li class="cursor-pointer hover:bg-slate-800 p-2 transition-colors duration-700 rounded-md">Home</li>
  <li class="cursor-pointer hover:bg-slate-800 p-2 transition-colors duration-700 rounded-md">About</li>
  <li class="cursor-pointer hover:bg-slate-800 p-2 transition-colors duration-700 rounded-md">Proyects</li>
  <li class="cursor-pointer hover:bg-slate-800 p-2 transition-colors duration-700 rounded-md">Experience</li>
  </ul>
  </nav>
  <nav>
  <ul class="flex gap-4">
  <li><a href="https://www.linkedin.com/in/milagrosfboto/" target="_blank" class="cursor-pointer hover:bg-slate-800 p-2 transition-colors duration-700 rounded-md">LinkedIn</a></li>
  <li><a href="https://github.com/Milifboto" target="_blank" class="cursor-pointer hover:bg-slate-800 p-2 transition-colors duration-700 rounded-md">GitHub</a></li>
  <li><a href="mailto:milagrosfernandezboto@gmail.com" target="_blank" class="cursor-pointer hover:bg-slate-800 p-2 transition-colors duration-700 rounded-md">Email</a></li>
  <li></li>
  </nav>

</header>