---

---
<div class="flex flex-col items-center justify-center flex-wrap">
  <div class="sm:h-screen lg:min-h-[832px] sm:min-h-[500px] min-h-[500px] h-[95vh] py-0 flex flex-col items-center justify-center text-center gap-16 sm:gap-8 w-[600px]">
    <h2 class="text-2xl font-semibold sm:text-3xl dark:text-bGray text-wGray dark:selection:bg-bgWhite dark:selection:text-wGray selection:text-bGray selection:bg-bgBlack">Milagros Fernández Boto</h2>
    <h1 class=" lg:leading-[1.25] sm:leading-[1.25] leading-[1.25] font-extrabold text-6xl">Developer with a deep passion for creativity/innovation</h1>
    <div class="flex w-full items-center justify-center">
      <button class="flex justify-center items-center select-none border border-none rounded-2xl py-4 px-6 mx-4 bg-pink-600 font-bold text-lg text-slate-900 w-1/3">Contact now
        <svg xmlns="http://www.w3.org/2000/svg" class="ml-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M10 14l11 -11"></path>
          <path d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5"></path>
       </svg>

      </button>
      <button class="flex justify-center items-center select-none border border-none rounded-2xl text-lg py-4 px-6 mx-4 bg-gray-100 text-slate-900 font-bold w-1/3">Download CV
        <svg xmlns="http://www.w3.org/2000/svg" class="ml-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
          <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
          <path d="M12 17v-6"></path>
          <path d="M9.5 14.5l2.5 2.5l2.5 -2.5"></path>
       </svg>
      </button>
    </div>
  </div>
</div>