---

---
<div class="flex flex-col items-center justify-center flex-wrap">
  <div class="sm:h-screen lg:min-h-[832px] sm:min-h-[500px] min-h-[500px] h-[95vh] py-0 flex flex-col items-center justify-center text-center gap-16 sm:gap-8 w-[600px]">
    <h2 class="text-2xl font-semibold sm:text-3xl dark:text-bGray text-wGray dark:selection:bg-bgWhite dark:selection:text-wGray selection:text-bGray selection:bg-bgBlack">Milagros Fernández Boto</h2>
    <h1 class=" lg:leading-[1.25] sm:leading-[1.25] leading-[1.25] font-extrabold text-6xl">Developer with a deep passion for creativity/innovation</h1>
    <div>
      <button class="select-none border border-none rounded-2xl py-4 px-6 mx-4 bg-pink-600 font-bold text-slate-900">Contact now</button>
      <button class="select-none border border-none rounded-2xl py-4 px-6 mx-4 bg-gray-100 text-slate-900 font-bold">Download CV</button>
    </div>
  </div>
</div>